@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1a1a2e;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
